.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-input {
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: all .7s ease;
    border-radius: 7px;
    margin-top: 2em;

    &:hover{  
        &::placeholder{
            color: #000;
        }  
    }

    &:focus{
        background-color: #f9f6f6;
    }
}

.categories{
    display: flex;
    margin-top: 2em;
    gap: 10px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    scrollbar-width: thin;
    padding-bottom: 10px;
}


.categories::-webkit-scrollbar {
    width: 0px; /* For WebKit browsers */
    height: 5px;
}

.categories::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.categories .btn {
    display: inline-block;
    background-color: var(--white);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    font-size: calc(1vw + 4px);
}

.categories .btn.active{
    background-color: var(--primary-color);
    color: var(--white);
}

.product-container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .product-container > .product-card {
    cursor: pointer;
    position: relative;
    width: 170px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
    transition: all 0.4s ease;
  }
  
  .product-container > .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-container > .product-card .product-image {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    object-fit: contain;
  }
  
  .product-container > .product-card .product-details {
    padding: 15px;
  }
  
  .product-container > .product-card .product-details .product-name {
    font-size: 1rem;
    margin: 0;
  }
  
  .product-container > .product-card .product-details .product-price {
    margin: 8px 0;
  }
  
  .product-container > .product-card .product-details .cart-icon {
    font-size: 24px;
    opacity: 1;
    background-color: var(--primary-color);
    padding: 7px;
    border-radius: 7px;
    transition: opacity 0.3s;
  }
  
  .product-container > .product-card .product-details .cart-icon ion-icon {
    color: var(--white);
  }
  
  .product-container > .product-card .product-details .cart-icon:hover {
    background-color: var(--primary-color-hover);
  }
  
  .product-container > .product-card .product-details .product-details-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-container > .product-card:hover {
    color: var(--primary-color);
  }
  
  .product-container > .product-card.hide {
    display: none;
  }
  

#noItemFoundMessage{
    text-align: center;
    color: #ff6f6f;
    font-size: 2.5em;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  

  
@media screen and (max-width: 1100px) {
    .product-container{
        grid-template-columns: repeat(5, 1fr);
    }
    
  }

    
@media screen and (max-width: 990px) {
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }
    
  }
  
  
  @media screen and (max-width: 600px) {
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }

    
.product-container{
    margin-top: 2em;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10 auto;
    
    
    > .product-card {
        cursor: pointer;
        position: relative;
        width:150px;
        height: 170px;
        border: 1px solid #ccc;
        border-radius: 7px;
        overflow: hidden;
        transition: all .4s ease;
    
        &:hover {
            transform: scale(1.05);
        }
    
        .product-image {
            width: 100%;
            margin: 0 auto;
            height: 90px;
            object-fit: contain;
        }
    
        .product-details {
            padding: 15px;
    
            .product-name {
                font-size:1rem;
                margin: 0;
            }
    
            .product-price {
                margin: 8px 0;
                font-size: 1.1rem;
            }
    
            .cart-icon {

                ion-icon {
                    color: var(--white);
                    font-size: 15px; 
                }

                &:hover{
                    background-color: var(--primary-color-hover);
                }
            }

            .product-details-bottom{
                display: flex;
                justify-content: space-between;
            }
        }
    
        &:hover {
            color: var(--primary-color);
        }

        &.hide{
            display: none;
        }
    }
}
  }
