span{
    display: inline;
    color: var(--primary-color);
}

.about-info{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-info .left{
    flex: 1;
}
    
.about-info .right{
    flex: 1;
}

.about-info .right h3 {
    color: #000;
    font-size: 1.7em;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: .4em;
}

.about-info .right p {
    line-height: 2;
    font-size: 1.07em;
}

.about-info img{
    max-width: 900px;
    width: 700px;
    border-radius: 7px;
}

.about-info + .about-info {
    margin-top: 5em;
    flex-direction: row-reverse;
}

.about-info + .about-info img {
    top: 0;
    right: 0;
    /* width: 400px; */
}

.values{
    margin-top: 2em;
    font-size: 1.7em;
    font-weight: 500;
    color: #000;
}



.process {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  
  .process-block {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: transparent;
    border-radius: 7px;
    border: solid var(--black_70) 1px;
  }
  
  .process-block h3 {
    margin: 6px 0;
    font-size: calc(1vw + 10px);
  }
  
  .process p {
    font-size: calc(1vw + 2px);
    color: var(--spanish-gray);
  }

  .process-block:hover span {
    color: var(--primary-color);
  }
  
  .process span {
    display: flex;
    align-items: end;
    font-size: calc(1vw + 65px);
    color: var(--primary);
  }
  
  @media screen and (max-width: 1000px) {
    .process {
      grid-template-columns: 1fr;
      
    }
    
  .process-block {
    padding: 10px;
  }
  .process-block h3 {
    margin: 6px 0;
    font-size: calc(1vw + 12px);
  }
  
  .process p {
    font-size: calc(1vw + 5px);
    color: var(--spanish-gray);
  }
  }