.contact-page{
    h1 {
        font-size: 2em;
    }
    
    span{
        display: inline-block;
        color: var(--primary-color);
    }

    > p{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .contact-cards {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        .card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border: 1px solid #ccc;
            border-radius: 7px;
            padding: 30px 20px;

            .text-blue {
                font-weight: 600;
                color: var(--primary-color);
            }

            .text-blue + p{
                color: #000;
            }
        }
    }

    .city, .address, .phone {
        > p:first-child{
            display: flex;
            align-items: center;
            gap: 5px;
        }
        ion-icon{
            display: inline-block;
        }

        > a {
            cursor: pointer;
            text-decoration: underline var(--primary-color);
        }
    }

    @media only screen and (max-width: 768px) {
        .card {
            gap: 20px;
        }
        .address{
            order: 1;
        }
    }
}

